
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

#about {
    color: #f0f0f0;
}

a {
    text-decoration: none;
    color: #fff; 

}

a:hover {
    text-decoration: underline;
}

header {
    background: #0c52e8; /* Blue color */
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

section {
    padding: 20px;
    margin: 20px auto;
    background: #fff;
    border-radius: 8px;
    max-width: 800px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #007bff; /* Blue color */
    border-bottom: 2px solid #007bff; /* Underline effect */padding-bottom: 5px;}
    #contact {    background: #f9f9f9;    border: 1px solid #e0e0e0;}
    footer {    text-align: center;    padding: 20px 0;    background: #007bff; /* Blue color */    color: #fff;    position: relative;    bottom: 0;    width: 100%;}